In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame({'s1':[1,1,3,4,5,6],'s2':[1,1,3,44,55,66],'s3':[2,3,4,5,6,7]})

In [11]:
df

   s1  s2  s3
0   1   1   2
1   1   1   3
2   3   3   4
3   4  44   5
4   5  55   6
5   6  66   7

In [15]:
df.loc[df.duplicated(subset=['s1','s2'],keep='last')]

   s1  s2  s3
0   1   1   2

In [16]:
df.drop_duplicates(subset=['s1','s2'],keep='last')

   s1  s2  s3
1   1   1   3
2   3   3   4
3   4  44   5
4   5  55   6
5   6  66   7