In [1]:
from sklearn.pipeline import Pipeline

In [2]:
import pandas as pd

In [4]:
blog_data = pd.read_csv('D:/machine-learning-for-beginners/data/BlogFeedback/blogData_train.csv', header=None)

In [5]:
blog_data.head()

,0,1,2,3,4,5,6,7,8,9,...,271,272,273,274,275,276,277,278,279,280
0,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0

In [9]:
feature_data = blog_data.drop([280],axis=1)
target_data = blog_data[280]

In [6]:
from sklearn.model_selection import train_test_split

In [10]:
trainX, testX, trainY, testY = train_test_split(feature_data,target_data)

In [11]:
from sklearn.feature_selection import SelectKBest, f_regression

In [21]:
select = SelectKBest(k=100, score_func=f_regression).fit(feature_data,target_data)

C:\Users\ZekeLabs\Anaconda3-N\lib\site-packages\sklearn\feature_selection\univariate_selection.py:298: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms
C:\Users\ZekeLabs\Anaconda3-N\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\ZekeLabs\Anaconda3-N\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\ZekeLabs\Anaconda3-N\lib\site-packages\scipy\stats\_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
lr = LinearRegression()

In [24]:
pipeline = Pipeline([
    ('feature_selector',select),
    ('lr',lr)
])

In [25]:
pipeline.fit(trainX,trainY)

C:\Users\ZekeLabs\Anaconda3-N\lib\site-packages\sklearn\feature_selection\univariate_selection.py:298: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms
C:\Users\ZekeLabs\Anaconda3-N\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\ZekeLabs\Anaconda3-N\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\ZekeLabs\Anaconda3-N\lib\site-packages\scipy\stats\_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

Pipeline(memory=None,
     steps=[('feature_selector', SelectKBest(k=100, score_func=<function f_regression at 0x0000018C005CB730>)), ('lr', LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False))])

In [26]:
pipeline.score(testX,testY)

0.29960130392724005

In [20]:
pipeline.predict(testX[:10])

array([-1.02538791,  3.0378825 , -0.14749823,  0.09648084,  7.01515387,
        5.81785883,  8.87801419,  0.89448466,  0.72482301,  5.08784851])

In [30]:
import numpy as np
np.abs(blog_data.corr().loc[280]).sort_values(ascending=False)[:50]

280    1.000000
9      0.506540
20     0.503375
5      0.497631
4      0.491707
10     0.490111
14     0.489674
19     0.486316
0      0.485464
51     0.472061
15     0.471999
34     0.461627
21     0.440003
11     0.439152
6      0.433578
1      0.424616
16     0.384654
3      0.356604
29     0.338961
35     0.337775
30     0.335829
40     0.329670
25     0.328525
44     0.323661
13     0.322775
8      0.322106
23     0.320133
50     0.314446
53     0.314177
18     0.299688
54     0.296273
46     0.292805
36     0.285755
31     0.283884
22     0.280792
26     0.266815
41     0.265203
56     0.260903
33     0.251493
38     0.251485
28     0.247457
48     0.245544
45     0.233080
43     0.232089
47     0.230493
58     0.198638
55     0.191917
60     0.152908
59     0.146145
52     0.117642
Name: 280, dtype: float64

In [34]:
pipeline.steps[0]

('feature_selector',
 SelectKBest(k=100, score_func=<function f_regression at 0x0000018C005CB730>))

#### Employee Exit Prediction

In [35]:
import pandas as pd

In [36]:
from sklearn_pandas import DataFrameMapper

In [38]:
emp_data = pd.read_csv('data/HR_comma_sep.csv')

In [39]:
emp_data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [40]:
emp_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [43]:
emp_data.rename(columns={'sales':'dept'}, inplace=True)

In [44]:
emp_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
dept                     14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.3+ MB

In [45]:
emp_data.dept.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [46]:
emp_data.salary.unique()

array(['low', 'medium', 'high'], dtype=object)

In [49]:
feature_data = emp_data.drop('left',axis=1)

In [55]:
target_data = emp_data.left

cols_no_tf = list(set(feature_data.columns) - set(['average_montly_hours', 'salary', 'dept']))

In [57]:
no_tf_cols_dm = list(map(lambda x:(x,None), cols_no_tf))

In [58]:
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [67]:
mapper = DataFrameMapper([
    *no_tf_cols_dm,
    #('average_montly_hours',StandardScaler()),
    ('salary',LabelEncoder()),
    ('dept',LabelEncoder())
])

In [68]:
mapper

DataFrameMapper(default=False, df_out=False,
        features=[('satisfaction_level', None), ('time_spend_company', None), ('last_evaluation', None), ('number_project', None), ('Work_accident', None), ('promotion_last_5years', None), ('salary', LabelEncoder()), ('dept', LabelEncoder())],
        input_df=False, sparse=False)

In [69]:
from sklearn.ensemble import RandomForestClassifier

In [70]:
pipe = Pipeline([
    ('mapper',mapper),
    ('clf',RandomForestClassifier(n_estimators=10))
])

In [71]:
trainX,testX, trainY,testY = train_test_split(feature_data,target_data)

In [72]:
pipe.fit(trainX,trainY)

Pipeline(memory=None,
     steps=[('mapper', DataFrameMapper(default=False, df_out=False,
        features=[('satisfaction_level', None), ('time_spend_company', None), ('last_evaluation', None), ('number_project', None), ('Work_accident', None), ('promotion_last_5years', None), ('salary', LabelEncoder()), ('dept', LabelEncode...n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])

In [73]:
pipe.score(testX,testY)

0.98613333333333331