In [1]:
from sklearn.cluster import MeanShift

In [2]:
import pandas as pd
house_data = pd.read_csv('data/house_rental_data.csv',index_col='Unnamed: 0')

In [3]:
ms = MeanShift(n_jobs=-1)

In [4]:
ms.fit(house_data)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=-1, seeds=None)

In [5]:
ms.labels_

array([0, 1, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 2, 1, 0,
       1, 3, 1, 3, 2, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 3, 0, 2, 0, 0, 1, 1, 0,
       0, 1, 3, 0, 1, 1, 0, 0, 3, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 2, 2, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 2, 0, 0, 0, 0, 0, 1, 1, 2, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 2, 0, 0, 0, 0, 0, 1, 4, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 3, 0, 1, 1, 1, 0, 0, 0, 1, 1, 2, 0, 1, 1, 0, 0, 0, 0, 0, 2, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 2, 0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 3, 0, 2, 0, 2, 0, 2, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 4, 1, 0, 1, 0, 0, 2, 0, 0, 1, 1, 1, 1,
       3, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       3, 1, 0, 1, 0, 3, 0, 0, 0, 1, 0, 3, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 2, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       2, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 0, 1, 1, 1, 1, 3, 0, 0, 1, 2, 0, 0, 1, 3, 0,
       0, 1, 0, 0, 0, 1, 2, 1, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 2, 0, 3, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 2, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 1, 0, 1, 0, 2, 0, 0, 2, 0, 0, 0, 0,
       1, 1, 0, 0, 2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       2, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 3, 0, 0,
       0, 0, 0, 3, 0, 1, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       3, 1, 2, 2, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 2, 0, 0, 0, 1,
       0], dtype=int64)

In [7]:
import numpy as np

In [9]:
house_data.iloc[np.where(ms.labels_ == 4)]

        Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom   Price
149  4981.20      3          38        3            2         3  225000
289  3504.63     13          14        2            2         2  250000

In [11]:
house_data.iloc[np.where(ms.labels_ == 3)].describe()

,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,3873.824824,10.000000,14.411765,3.823529,2.117647,3.058824,182294.117647
std,853.820416,7.254309,5.292197,1.286239,0.696631,0.899346,16115.848977
min,2892.654000,1.000000,6.000000,3.000000,1.000000,2.000000,160000.000000
25%,3187.968000,3.000000,9.000000,3.000000,2.000000,2.000000,170000.000000
50%,3664.740000,9.000000,15.000000,3.000000,2.000000,3.000000,180000.000000
75%,4091.700000,19.000000,19.000000,5.000000,2.000000,4.000000,200000.000000
max,5856.468000,19.000000,21.000000,7.000000,4.000000,5.000000,206000.000000