### dropna

In [2]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame({'A':[1,2,3,np.nan,8, np.nan], 'B':[2,3,4,9,np.nan, np.nan]})

In [6]:
df

     A    B
0  1.0  2.0
1  2.0  3.0
2  3.0  4.0
3  NaN  9.0
4  8.0  NaN

In [7]:
df.dropna()

     A    B
0  1.0  2.0
1  2.0  3.0
2  3.0  4.0

In [9]:
df

     A    B
0  1.0  2.0
1  2.0  3.0
2  3.0  4.0
3  NaN  9.0
4  8.0  NaN
5  NaN  NaN

In [10]:
df.dropna(how='all')

     A    B
0  1.0  2.0
1  2.0  3.0
2  3.0  4.0
3  NaN  9.0
4  8.0  NaN

In [11]:
#If non-null data is less than 1
df.dropna(thresh=1)

     A    B
0  1.0  2.0
1  2.0  3.0
2  3.0  4.0
3  NaN  9.0
4  8.0  NaN

In [12]:
df

     A    B
0  1.0  2.0
1  2.0  3.0
2  3.0  4.0
3  NaN  9.0
4  8.0  NaN
5  NaN  NaN

In [13]:
df.fillna({'A':0, 'B':9})

     A    B
0  1.0  2.0
1  2.0  3.0
2  3.0  4.0
3  0.0  9.0
4  8.0  9.0
5  0.0  9.0

In [15]:
df.fillna(method='ffill')

     A    B
0  1.0  2.0
1  2.0  3.0
2  3.0  4.0
3  3.0  9.0
4  8.0  9.0
5  8.0  9.0

In [17]:
df.replace(to_replace=3.0, value=np.nan)

     A    B
0  1.0  2.0
1  2.0  NaN
2  NaN  4.0
3  NaN  9.0
4  8.0  NaN
5  NaN  NaN