In [1]:
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier

In [2]:
import pandas as pd

In [4]:
emp_data = pd.read_csv('data/adult.data.txt', header=None)

In [5]:
emp_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
emp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
0     32561 non-null int64
1     32561 non-null object
2     32561 non-null int64
3     32561 non-null object
4     32561 non-null int64
5     32561 non-null object
6     32561 non-null object
7     32561 non-null object
8     32561 non-null object
9     32561 non-null object
10    32561 non-null int64
11    32561 non-null int64
12    32561 non-null int64
13    32561 non-null object
14    32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
for col in [1,3,5,6,7,8,9,13,14]:
    le = LabelEncoder()
    emp_data[col] = le.fit_transform(emp_data[col])

In [10]:
emp_data.head()

   0   1       2   3   4   5   6   7   8   9     10  11  12  13  14
0  39   7   77516   9  13   4   1   1   4   1  2174   0  40  39   0
1  50   6   83311   9  13   2   4   0   4   1     0   0  13  39   0
2  38   4  215646  11   9   0   6   1   4   1     0   0  40  39   0
3  53   4  234721   1   7   2   6   0   2   1     0   0  40  39   0
4  28   4  338409   9  13   2  10   5   2   0     0   0  40   5   0

In [15]:
import numpy as np
emp_data.corr()[14].abs()

0     0.234037
1     0.051604
2     0.009463
3     0.079317
4     0.335154
5     0.199307
6     0.075468
7     0.250918
8     0.071846
9     0.215980
10    0.223329
11    0.150526
12    0.229689
13    0.015840
14    1.000000
Name: 14, dtype: float64

In [17]:
f_data = emp_data[[0,4,5,7,9,10,11,12]]

In [32]:
from sklearn.linear_model import LogisticRegression

models = [LogisticRegression(), AdaBoostClassifier(n_estimators=10), GradientBoostingClassifier()]

In [20]:
from sklearn.model_selection import train_test_split

In [25]:
trainX, testX, trainY, testY = train_test_split(f_data, emp_data[14])

In [33]:
trained_models = []
for model in models:
    model.fit(trainX, trainY)
    trained_models.append(model)
    print (model.score(testX, testY))

0.82618842894
0.841911313106
0.85652868198

In [23]:
trainX.shape

(24420, 8)

In [24]:
trainY.shape

(24420, 15)

In [29]:
testX[:2]

       0   4   5   7   9   10  11  12
25031  20   5   4   2   0   0   0  40
27809  30  10   2   0   1   0   0  99

In [34]:
trained_models[0].predict(testX[:2])

array([0, 1], dtype=int64)

In [35]:
testY[:2]

25031    0
27809    0
Name: 14, dtype: int64

In [36]:
from sklearn.feature_selection import SelectKBest

In [46]:
f_data_new = SelectKBest(k=4).fit_transform(emp_data[list(range(14))], emp_data[14])

In [47]:
f_data_new

array([[39, 13,  1, 40],
       [50, 13,  0, 13],
       [38,  9,  1, 40],
       ...,
       [58,  9,  4, 40],
       [22,  9,  3, 20],
       [52,  9,  5, 40]], dtype=int64)

In [48]:
trainX, testX, trainY, testY = train_test_split(f_data_new, emp_data[14])

In [49]:
trained_models = []
for model in models:
    model.fit(trainX, trainY)
    trained_models.append(model)
    print (model.score(testX, testY))

0.808623019285
0.826556934038
0.834909716251