In [1]:
from sklearn_pandas import DataFrameMapper

In [2]:
import pandas as pd
data = pd.DataFrame({'pet': ['cat', 'dog', 'dog', 'fish', 'cat', 'dog', 'cat', 'fish'],
                     'children': [4., 6, 3, 3, 2, 3, 5, 4],
                     'salary':   [90, 24, 44, 27, 32, 59, 36, 27]})

In [3]:
data

   children   pet  salary
0       4.0   cat      90
1       6.0   dog      24
2       3.0   dog      44
3       3.0  fish      27
4       2.0   cat      32
5       3.0   dog      59
6       5.0   cat      36
7       4.0  fish      27

In [20]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler, OneHotEncoder

In [24]:
mapper = DataFrameMapper([
    ('pet', LabelEncoder()),
    (['salary','children'], OneHotEncoder())
], df_out=True)

In [25]:
mapper.fit_transform(data)

,pet,salary_children_0,salary_children_1,salary_children_2,salary_children_3,salary_children_4,salary_children_5,salary_children_6,salary_children_7,salary_children_8,salary_children_9,salary_children_10,salary_children_11
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [23]:
mapper.transformed_names_

['pet',
 'salary_children_0',
 'salary_children_1',
 'salary_children_2',
 'salary_children_3',
 'salary_children_4',
 'salary_children_5',
 'salary_children_6',
 'salary_children_7',
 'salary_children_8',
 'salary_children_9',
 'salary_children_10',
 'salary_children_11']

In [48]:
mapper = DataFrameMapper([
    ('pet', LabelEncoder()),
], df_out=True)

In [51]:
data2 = mapper.fit_transform(data)

In [52]:
mapper = DataFrameMapper([
    (['pet'], [OneHotEncoder()]),
], df_out=True)

In [53]:
mapper.fit_transform(data2)

   pet_0  pet_1  pet_2
0    1.0    0.0    0.0
1    0.0    1.0    0.0
2    0.0    1.0    0.0
3    0.0    0.0    1.0
4    1.0    0.0    0.0
5    0.0    1.0    0.0
6    1.0    0.0    0.0
7    0.0    0.0    1.0

In [55]:
emp_data = pd.read_csv('HR_comma_sep.csv')

In [56]:
emp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [57]:
emp_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [58]:
emp_data.rename(columns={'sales':'dept'}, inplace=True)

In [59]:
emp_data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'dept', 'salary'],
      dtype='object')

In [60]:
mapper = DataFrameMapper([
    ('dept',LabelEncoder()),
    ('salary',LabelEncoder())
], df_out=True)

In [62]:
df_nw = mapper.fit_transform(emp_data)

In [63]:
emp_data['dept'] = df_nw.dept
emp_data['salary'] = df_nw.salary

In [64]:
emp_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [69]:
new_cols = emp_data.columns.tolist()

In [70]:
new_cols.remove('left')

In [71]:
new_cols

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company',
 'Work_accident',
 'promotion_last_5years',
 'dept',
 'salary']

In [72]:
X = emp_data[new_cols]

In [73]:
y = emp_data['left']

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
trainX, testX, trainY, testY = train_test_split(X,y)

In [80]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

In [81]:
models = [ LogisticRegression(), GaussianNB(), RandomForestClassifier(n_estimators=10)]

In [82]:
for model in models:
    model.fit(trainX,trainY)
    print (model.score(testX,testY))

0.7576
0.7984
0.989333333333

In [83]:
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectKBest

In [85]:
pipeline = Pipeline([('selectKBest',SelectKBest()),('randomForest',RandomForestClassifier())])

In [94]:
tunuable_params = {'selectKBest__k':[7,9], 'randomForest__n_estimators':[30,50]}

In [95]:
from sklearn.model_selection import GridSearchCV

In [96]:
grid = GridSearchCV(pipeline, tunuable_params, cv=5)

In [97]:
grid.fit(trainX,trainY)

GridSearchCV(cv=5, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('selectKBest', SelectKBest(k=10, score_func=<function f_classif at 0x00000227F6295F28>)), ('randomForest', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, ...n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))]),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'selectKBest__k': [7, 9], 'randomForest__n_estimators': [30, 50]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [98]:
grid.best_score_

0.98933238510089783

In [92]:
grid.best_params_

{'randomForest__n_estimators': 30, 'selectKBest__k': 7}

In [93]:
len(trainX.columns)

9

In [99]:
grid.best_params_

{'randomForest__n_estimators': 30, 'selectKBest__k': 9}